<div id="content" class="col-lg-10 col-lg-offset-1">
  <header id="header" class="col-lg-12">
  </header>
  <div class="col-md-3" id="nav_rigth">
      <img src="assets/images/dragon.png">
  </div>
  <nav id="nav" class="col-md-9">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Message</a></li>
      <li><a href="#">Wishlist</a></li>
      <li><a href="#">Settings</a></li>
      <li><a href="#">My acount</a></li>
    </ul>
  </nav>
<section id="main" class="col-lg-12">
  <app-home></app-home>
</section>
<footer id="footer">
  Mockup make by Jairo Niño
</footer>
</div>