<div class="col-lg-10 jndivisorlft"  style="padding-right: 90px;">
    <div class="row">
        <div class="col-lg-2 jncheck">
            <i class="fas fa-check-circle fa-3x" ></i>
        </div>
        <div class="col-lg-10" style="padding: 0px">
            <div class="thumbnail jncard">
                <div class="col-lg-2  fa-lg">
                    <div class="jndate">
                        Monday 10th 2:28 PM

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="jncomplet">
                        <table>
                            <tr>
                                <td rowspan="3" class="icon_viaje">
                                    <span class="far fa-paper-plane fa-3x"></span>
                                </td>
                                <td class="nom_prod"><span class="fa-lg"> Nombre producto</span></td>
                            
                            </tr>
                            <tr>
                                <td class="nom_prod"><span class="fas fa-angle-down fa-3x" style="color: darkgoldenrod; padding: 0px;" ></span></td>
                            </tr>
                            <tr>
                                <td class="nom_prod fa-lg"><span> Nombre producto</span></td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="col-lg-6">
                    <table>
                        <tr style="text-align: center;">
                            <td>
                                <i class="fas fa-truck fa-flip-horizontal fa-5x"></i>
                            </td>
                            <td class="fa-2x">$250.000</td>
                            <td>
                                <button type="button" class="btn btn-danger">1</button>
                            </td>
                            <td>
                                <i class="fas fa-ellipsis-v fa-lg"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 jncheck">
            <i class="fas fa-check-circle fa-3x" ></i>
        </div>
        <div class="col-lg-10" style="padding: 0px">
            <div class="thumbnail jncard">
                <div class="col-lg-2  fa-lg">
                    <div class="jndate">
                        Monday 10th 2:28 PM

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="jncomplet">
                        <table>
                            <tr>
                                <td rowspan="3" class="icon_viaje" style="font-size: 0.8rem">
                                    <span class="far fa-paper-plane fa-3x"></span>
                                </td>
                                <td class="nom_prod"><span class="fa-lg"> Nombre producto</span></td>
                            
                            </tr>
                            <tr>
                                <td class="nom_prod"><span class="fas fa-angle-down fa-3x" style="color: darkgoldenrod; padding: 0px;" ></span></td>
                            </tr>
                            <tr>
                                <td class="nom_prod"><span  class="fa-lg"> Nombre producto</span></td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="col-lg-6">
                    <table>
                        <tr style="text-align: center;">
                            <td>
                                <i class="fas fa-truck fa-flip-horizontal fa-5x"></i>
                            </td>
                            <td class="fa-2x">$250.000</td>
                            <td>
                                <button type="button" class="btn btn-danger">1</button>
                            </td>
                            <td>
                                <i class="fas fa-ellipsis-v fa-lg"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 jncheck">
            <i class="fas fa-check-circle fa-3x" ></i>
        </div>
        <div class="col-lg-10" style="padding: 0px">
            <div class="thumbnail jncard">
                <div class="col-lg-2  fa-lg">
                    <div class="jndate">
                        Monday 10th 2:28 PM

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="jncomplet">
                        <table>
                            <tr>
                                <td rowspan="3" class="icon_viaje">
                                    <span class="far fa-paper-plane fa-3x"></span>
                                </td>
                                <td class="nom_prod"><span class="fa-lg"> Nombre producto</span></td>
                            
                            </tr>
                            <tr>
                                <td class="nom_prod"><span class="fas fa-angle-down fa-3x" style="color: darkgoldenrod; padding: 0px;" ></span></td>
                            </tr>
                            <tr>
                                <td class="nom_prod fa-lg"><span> Nombre producto</span></td>
                            </tr>
                        </table>

                    </div>
                </div>
                <div class="col-lg-6">
                    <table>
                        <tr style="text-align: center;">
                            <td>
                                <i class="fas fa-truck fa-flip-horizontal fa-5x"></i>
                            </td>
                            <td class="fa-2x">$250.000</td>
                            <td>
                                <button type="button" class="btn btn-danger">1</button>
                            </td>
                            <td>
                                <i class="fas fa-ellipsis-v fa-lg"></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>